<footer class="content">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 py-3">
                <p>WayJoy is a Non Government Organization, being run by young students for social reformation and building the nation with moral values and ethics.</p>
            </div>
            <div class="col-lg-4 py-3">
                <ul style="list-style: none">
                    <li><h4>Quick Links</h4></li>
                    <li class="quick-links" routerLink="/event">Events</li>
                    <li   class="quick-links" routerLink="/contact">Contact</li>
                    <!-- <li>Login</li> -->
                </ul>
            </div>
            <div class="col-lg-4 py-3">
                <h4>Contact</h4>
                <p>WayJoy, Visat Gandhinagar, Ahmedabad, Gujarat 380009</p>
                <p><mat-icon>phone</mat-icon> +91 91047 93940</p>
                <p><mat-icon>phone</mat-icon> +91 98930 14524</p>
            </div>
            <!-- <hr> -->
        </div>
    </div>
    <div class="botm">
        <p>&copy; 2023-2024 Wayjoy</p>
    </div>
</footer>

