<nav  class="navbar navbar-expand-lg navbar-light bg-light">
<div>
  <a class="navbar-brand" > </a>
  <img  height="66px" class="navbar-brand" src="assets/images/wayjoylogo.png" alt="">
</div>


  <div class="li-items">
    <ul>
      <li routerLink="/" ><a >Home </a></li>
      <li routerLink="/event"><a >Trips</a></li>
      <li routerLink="/contact" ><a >Contact Us</a></li>
    </ul>
  </div>

  <div style="margin-right: 12px;">
    <button style="margin-right: 20px;" class="login-btn"> Enquiry</button>
    <button   routerLink="/login"  class="login-btn">
      <!-- <mat-icon>person</mat-icon> -->
      Login
    </button>
  </div>
</nav>
