.bg-home {
  width: 100%;
  height: 40%;
  background: url('https://plus.unsplash.com/premium_photo-1661902184762-49c2c8ebb787?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2016&q=80') no-repeat center;
  background-size: 100% 100%;
  background-position: top center;
  background-repeat: no-repeat;
}
.bg-event {
  width: 100% !important;
  height: 15% !important;
  /* background-image: url('../../assets/images/event.png'); */
  background-color: rebeccapurple;
  background-size: 100% 100%;
  background-position: center top; 
  background-repeat: no-repeat;
}


.bg-contact {
  width: 100% !important;
  height: 15% !important;
  /* background-image: url('../../assets/images/event.png'); */
  background-color: rebeccapurple;
  background-size: 100% 100%;
  background-position: center top; 
  background-repeat: no-repeat;
}

h1 {
  font-family: cursive !important;
  font-size: xx-large !important;
  color: aliceblue;
  font-weight: revert !important;
  padding-left: 120px;
  padding-top: 50px;
}

.custom-button {
  padding-top: 40px;
  padding-left: 1000px;
}

.main-container {
  display: flex;
  height: 100vh;
  justify-content: flex-end;
  /* Align content to the right */
}

.sidenav-container {
  flex: 1;
}

.sidenav {
  width: 250px;
  background-color: white;
  /* background: url('https://w0.peakpx.com/wallpaper/175/701/HD-wallpaper-dark-mountain.jpg') no-repeat center; */
  color: rebeccapurple;
  padding: 20px;
  top: 15%;
  bottom: 6%;
  right: 2%;
  border-radius: 17px !important;
  background: honeydew;
}

/* Style your sidebar items as needed */
ul {
  list-style: none;
  padding: 0;
}

li {
  /* margin-bottom: 30px; */
  display: block;
  padding-top: 30px;
  padding-left: 30px;
}

a {
  text-decoration: none;
  font-size: large;
  color: rebeccapurple;
}

a:hover {
  text-decoration: underline;
}

.mat-icon{
  padding-top: 2px;
  padding-right: 30px;
}

.sidenav-header {
  display: flex;
  justify-content: end;
  color: gray;
}

 :host ::ng-deep  .mat-drawer-inner-container {

  height: 100%;
  overflow: visible;
  -webkit-overflow-scrolling: touch;
}


@media (max-width: 600px) {
  /* Styles specific to small screens go here */
  .heading {
    /* Your responsive styles for small screens */
    /* For example: */
    position: absolute;
    left: -105px;
    top: 2px;
}

.menu-button-res{
  position: absolute; 
  right: 11%;
}

.custom-button{
  padding-left: 0px;
}

  
}