.bg-home {
  width: 100%;
  height: 70%;
  background: url('https://img.invinciblengo.org/iconscout/f:jpeg/w:2000/h:0/rt:fit/plain/https://invinciblengo.org/_nuxt/img/961a8d9.jpg') no-repeat center;
  background-size: 100% 100%;
  background-position: top center;
  background-repeat: no-repeat;
}

.bg-event {
  width: 100% !important;
  height: 15% !important;
  /* background: url('/src/assets/images/event.png') no-repeat center; */
  background-color: rgb(224, 126, 22);
  background-size: 100% 100% ;
  background-position: top center ;
  background-repeat: no-repeat !important;
}

.bg-contact {
  width: 100%;
  height: 70%;
  background: url('https://img.invinciblengo.org/iconscout/f:jpeg/w:2000/h:0/rt:fit/plain/https://invinciblengo.org/_nuxt/img/961a8d9.jpg') no-repeat center;
  background-size: 100% 100%;
  background-position: top center;
  background-repeat: no-repeat;
}

h1 {
  font-family: cursive !important;
  font-size: xx-large !important;
  color: aliceblue;
  font-weight: revert !important;
  padding-left: 120px;
  padding-top: 50px;
}

.custom-button {
  padding-top: 40px;
  padding-left: 1000px;
}

.main-container {
  display: flex;
  height: 100vh;
  justify-content: flex-end;
  /* Align content to the right */
}

.sidenav-container {
  flex: 1;
}

.sidenav {
  width: 250px;
  background-color: white;
  color: red;
  padding: 20px;
}

/* Style your sidebar items as needed */
ul {
  list-style: none;
  padding: 0;
}

li {
  /* margin-bottom: 30px; */
  display: block;
  padding-top: 30px;
  padding-left: 30px;
}

a {
  text-decoration: none;
  font-size: large;
  color: #c8675c;
}

a:hover {
  text-decoration: underline;
}