
   <div class="split-div">
      <div style="padding-top:110px " class="container">
       <div class="split-login">
         <div class="row">
            <div class="col-6">
               <div class="logo">
                  <img height="90px" src="assets/images/wayjoylogo.png" alt="wayjoylogo">
               </div>
               <div class="logo">
                  <h1 class="welcome">Welcome Back</h1>
               </div>
               <div class="login-form">
                  <form>
                     <div class="form-group">
                       <label for="exampleInputEmail1">Email address</label>
                       <input type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
                       <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                     </div>
                     <div class="form-group">
                       <label for="exampleInputPassword1">Password</label>
                       <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                     </div>
                   </form>
               </div>
           
            </div>
            <div class="col-6">
            
            </div>
            </div>
       </div>  
      
      </div>
   </div>

