.split-div {
    width: 100%;
    background: linear-gradient(to right, #c5dbf4 50%, #1d1e6b 50%);
    position: fixed;
    height: 100vh;
    top: 0;
  }

  .split-login {
    width: 100%;
    background: linear-gradient(to right, white  50%, #dde9f5 70%);
    border-radius: 12px
  }

  .container-fluid{
    padding: 34px;
  }

  .logo{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
  }

 .login-form{
  display: flex;
  justify-content: center;
  height: 66%;
 }

 .form-control {
  display: block;
  width: 100%;
  font-weight: 400;
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}

.loginbtn{
  display: flex;
  justify-content: center;
  margin-top: 18px;
}


.button-login{
  width: 38%;
  padding: 9px;
  border-radius: 10px;
  text-transform: uppercase;
  border: 0px;
  background-color: #1d1e6b;
  color: white;
}
button[disabled=disabled], button:disabled {
  background-color: #e9e9f5;
  color: grey;
}

.col{
  height: 750px;
}

.registerbtn-div{
  display: flex;
  justify-content: end;
  margin-right: 14px;
}

.register-btn{
  padding: 9px;
  max-width: 153px;
  min-width: 101px;
  border-radius: 5px;
  background-color: #1d1e6b;
  color: white;
  text-transform: uppercase;
  filter: drop-shadow(0px 1px 1px #1d1e6b);
  border: 0px;
  margin-top: -15px;
}

label{
margin-top: 6px;
margin-bottom: 6px;
}
