<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Ahmedabad</mat-card-title>
        <br>
    </mat-card-header>
    <mat-card-content>
        <p>308, University Plaza, Above Chocolate Room,
        Vijay Cross Roads, Navrangpura,
        Ahmedabad, Gujarat - 380009</p>
        <p>Office Timings: 11AM to 8PM</p>
        <p>wayjoy@gmail.com</p>
        <p><mat-icon>phone</mat-icon> +91 91047 93940</p>
        <p><mat-icon>phone</mat-icon> +91 98930 14524</p>
    </mat-card-content>
</mat-card>