<div class="c1">
    <div class="container">
        <div class="content">
            <div class="duration">
                <span class="material-icons">calendar_today</span>
                <p>Duration<br>1/Day 0 night</p>
            </div>
            <div class="duration">
                <span class="material-icons">map</span>
                <p>Difficulty<br>easy</p>
            </div>
            <div class="duration">
                <span class="material-icons">person</span>
                <p>Age Group<br>12-40 years</p>
            </div>
            <div class="duration">
                <span class="material-icons">hiking</span>
                <p>Max Attitude<br>0 ft</p>
            </div>
        </div>
        <hr>
        <p>
            <b>About</b><bR>
            Have experience of Scuba Diving at Dwarka with Invincible & explore the Marine Biodiversity 🐠🦑 From November to March
            Month we have a daily slots for Scuba Diving Activity.
        </p>
    </div>
    <div class="container_2">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>₹2,500 / person</mat-card-title>
                <br>
            </mat-card-header>
            <mat-card-content>
                <p>includes</p>
                    <ul>
                        <li>Scuba Diving</li>
                        <li>Boat Transport</li>
                        <li>Photos/Videos</li>
                        <li>Dive Master</li>
                    </ul>
            </mat-card-content>
            <mat-card-actions>
                <button class="btn">Book Now</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>