/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-top: 80px; /* Adjust this value based on your navbar's height */
}
body::-webkit-scrollbar {
 display: none;
}
 /* -webkit-scrollbar{

 } */

 div::-webkit-scrollbar{
  display: none;
 }


 /* color: #a2a6b4; */
