<div class="video-container">
  <div class="word">
    <span>W</span>
    <span>A</span>
    <span>Y</span>
    <span>T</span>
    <span>O</span>
    <span>J</span>
    <span>O</span>
    <span>Y</span>
  </div>
  <img src="assets/images/front-img1.jpg" id="bg-video">
</div>

<div class="container">
  <div class="row">
    <div class="col-6 background-image">
      <div>
        <label style="font-size: 30px;font-weight: 700;">Upcoming Tours</label>
        <p style="width: 56%;margin-top: 26px; color: #b6b6b8;">
          Get ready for exciting travels! Check out our upcoming trips and get set for an amazing adventure.
        </p>
      </div>


      <div class="search-input">
        <input placeholder="Search Destination" type="text">
        <button>
          <mat-icon style="padding-top: 3px;">search</mat-icon>
        </button>
      </div>

    </div>
    <div class="col-6">
      <label style="font-size: 30px;font-weight: 200; margin-bottom: 32px; color:  #a2a6b4;">Categories <mat-icon style="padding-top: 3px;">category</mat-icon></label>
      <div class="wrapper">
        <div *ngFor="let cat of categories " class="card1">
          <img [src]="cat.src" alt="">
          <div class="info">
            <h1> {{cat.title}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!-- <div style="border: 2px solid; height: 500px; margin-bottom: 23px;" class="row">

  </div> -->




</div>
