.center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 80vh; */
    margin: 0;
  }
  
  .center-div {
    text-align: center; 
  }
  
  button {
    background-color:navy;
    color: #fff !important;
  }
  
  mat-form-field{
    width:200%;
  }