

<div class="container home-content">

     <div class="most-search">
        <h1>Most Visited Places</h1>
     </div>

     <div class="slider">
         <div class="slider-track">
            <div class="slide">
               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZEUly5vOhW2YBKxFXIlXGxj2wzJlCXrqa0Q&usqp=CAU">
            </div>
            <div class="slide">
               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZEUly5vOhW2YBKxFXIlXGxj2wzJlCXrqa0Q&usqp=CAU">
            </div>
            <div class="slide">
               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZEUly5vOhW2YBKxFXIlXGxj2wzJlCXrqa0Q&usqp=CAU">
            </div>
            <div class="slide">
               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZEUly5vOhW2YBKxFXIlXGxj2wzJlCXrqa0Q&usqp=CAU">
            </div>
            <div class="slide">
               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZEUly5vOhW2YBKxFXIlXGxj2wzJlCXrqa0Q&usqp=CAU">
            </div>
            <div class="slide">
               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZEUly5vOhW2YBKxFXIlXGxj2wzJlCXrqa0Q&usqp=CAU">
            </div>
         </div>
     </div>

     <div class="review">
         <h1>Review</h1>
     </div>

     <div class="review-content">
      <div class="rev">
         <h3>Aditya Desai</h3>
         <div class="star-container">
            <div class="star star-filled"></div>
            <div class="star star-filled"></div>
            <div class="star star-filled"></div>
            <div class="star star-filled"></div>
            <div class="star star-filled"></div>
         </div>
         <p>This trekking organization is excellent. Their costs are minimal due to their NGO's non-profit efforts. You can have the
         experience of trekking at the lowest cost with basic amenities and the best available trek leaders. The best part is the
         food they provide during the trek. Their cooks are the best I have experienced so far with different organizations. The
         food they serve is healthy and a balanced diet, which is proper food aid for trekking.</p>
      </div>
      <div class="rev">
         <h3>Raghav Birla</h3>
         <div class="star-container">
            <div class="star star-filled"></div>
            <div class="star star-filled"></div>
            <div class="star star-filled"></div>
            <div class="star star-filled"></div>
            <div class="star star-filled"></div>
         </div>
         <p>This trekking organization is excellent. Their costs are minimal due to their NGO's non-profit efforts. You can have the
         experience of trekking at the lowest cost with basic amenities and the best available trek leaders. The best part is the
         food they provide during the trek. Their cooks are the best I have experienced so far with different organizations. The
         food they serve is healthy and a balanced diet, which is proper food aid for trekking.</p>
      </div>
      <div class="rev">
         <h3>Shubham Joshi</h3>
         <div class="star-container">
            <div class="star star-filled"></div>
            <div class="star star-filled"></div>
            <div class="star star-filled"></div>
            <div class="star star-filled"></div>
            <div class="star star-filled"></div>
         </div>
         <p>This trekking organization is excellent. Their costs are minimal due to their NGO's non-profit efforts. You can have the
         experience of trekking at the lowest cost with basic amenities and the best available trek leaders. The best part is the
         food they provide during the trek. Their cooks are the best I have experienced so far with different organizations. The
         food they serve is healthy and a balanced diet, which is proper food aid for trekking.</p>
      </div>
     </div>

</div>