<div class="center">
    <div class="center-div">
        <mat-form-field>
          <mat-label>From</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="Ahmedabad">Ahmedabad</mat-option>
            <mat-option value="Surat">Surat</mat-option>
            <mat-option value="Dwarka">Dwarka</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>To</mat-label>
          <mat-select [(value)]="selected1">
            <mat-option value="Ahmedabad">Ahmedabad</mat-option>
            <mat-option value="Surat">Surat</mat-option>
            <mat-option value="Dwarka">Dwarka</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <button mat-button>Search</button>
        
  </div>
</div>
    
<app-footer></app-footer>
